<header class="navbar navbar-expand-sm fixed-top navbar-dark">
  <a routerLink="/" class="navbar-brand ml-4">Jason Bugallon</a>
  <button class="navbar-toggler" type="button" (click)="onToggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" [ngClass]="{'show': showNavbar}">
    <ul class="navbar-nav mr-4">
      <li class="nav-item" >
        <a [routerLink]="'.'"
           fragment="about"
           class="nav-link n-item"
           [class.active]="(activeFragment | async) === 'about'">
          About
        </a>
      </li>
      <li class="nav-item">
        <a
          routerLink="."
          fragment="projects"
          class="nav-link n-item"
          [class.active]="(activeFragment | async) === 'projects'">
          Projects
        </a>
      </li>
      <li class="nav-item">
        <a
          routerLink="."
          fragment="contacts"
          class="nav-link n-item"
          [class.active]="(activeFragment | async) === 'contacts'">
          Contacts
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link n-item" target="_blank" href="assets/pdfs/resume.pdf">Resume</a>
      </li>
    </ul>
  </div>
</header>
