header {
  color: white;
  z-index: 2;
}

.navbar-nav .nav-item .n-item {
  color: white;
}

.navbar-nav .nav-item .n-item:hover, .navbar-nav .nav-item .active{
  color: #E31B6D;
}

.navbar {
  background-color: black;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}



