<footer class="py-5">
  <div class="container">
    <div id="contacts">
      <h1 class="text-left">Contacts</h1>
      <hr class="ml-0 mr-auto">
      <div class="row text-left">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-6">
              <span class="contact-item">Email</span>
            </div>
            <div class="col-6 contact-detail">
              Jasonbugallon@gmail.com
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-6">
              <span class="contact-item">Phone</span>
            </div>
            <div class="col-6 contact-detail">
              (408)-476-6148
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-6">
              <span class="contact-item">Location</span>
            </div>
            <div class="col-6 contact-detail">
              Santa Clara, CA
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-6">
              <span class="contact-item">Visa Status</span>
            </div>
            <div class="col-6 contact-detail">
              U.S. Citizen
            </div>
          </div>
        </div>
      </div>
    </div>
    <p id="social media">
      <a class="btn btn-outline-light mx-2 icon" href="https://www.linkedin.com/in/jason-matthew-bugallon-37a046147/" target="_blank">
        <fa-icon [icon]="icons.linkedIn" class="mx-1"></fa-icon>
      </a>
      <a class="btn btn-outline-light mx-2 icon" href="https://github.com/isdestiny" target="_blank">
        <fa-icon [icon]="icons.github" class="mx-1"></fa-icon>
      </a>
      <a class="btn btn-outline-light mx-2 icon" href="https://www.facebook.com/jason.bugallon" target="_blank">
        <fa-icon [icon]="icons.facebook" class="mx-1"></fa-icon>
      </a>
    </p>
    <p id="copyright">&copy; 2019 Jason Bugallon</p>
  </div>
</footer>
