<footer class="bg-dark p-5">
  <div class="container">
    <p id="contacts">
      <a class="btn btn-outline-light mx-2 icon" href="https://www.linkedin.com/in/jason-matthew-bugallon-37a046147/" target="_blank">
        <fa-icon [icon]="icons.linkedIn" class="mx-1"></fa-icon>
      </a>
      <a class="btn btn-outline-light mx-2 icon" href="https://github.com/isdestiny" target="_blank">
        <fa-icon [icon]="icons.github" class="mx-1"></fa-icon>
      </a>
      <a class="btn btn-outline-light mx-2 icon" href="https://www.facebook.com/jason.bugallon" target="_blank">
        <fa-icon [icon]="icons.facebook" class="mx-1"></fa-icon>
      </a>
    </p>
    <p id="copyright">&copy; 2019 Jason Bugallon</p>
  </div>
</footer>
