footer {
  color: white;
  text-align: center;
  background: black;
}

#contacts {
  padding-bottom: 70px;
}

.contact-item {
  font-weight: bold;
  font-size: 1.2rem;
}

.icon {
  font-size: 1.3em;
}


@media(max-width: 560px) {
  .contact-item {
    font-size: 1rem;
  }
  .contact-detail {
    font-size: 0.8rem;
  }
  footer {
    font-size: 1rem;
  }
  .icon {
    font-size: 1.1rem;
  }
  #copyright {
    font-size: 0.9rem;
  }
}

