.header {
  background-color: transparent;
}

#about {
  background-color: white;
}

#skills {
  background-color: #F5F5F5;
}

#pro-pic {
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
}

section {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#landing {
  background-color: black;
}

.landing-background {
  z-index: 1;
  content: '';
  height: 100vh;
  width: 100%;
  background-image: urL("assets/images/coding2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  transition: all 1000ms;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  /*-webkit-filter: grayscale(100%); !* Safari 6.0 - 9.0 *!*/
  /*filter: grayscale(100%);*/

}



.content {
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 50%;
  margin-top: 105px;
  margin-left: -220px;
  width: 470px;
  height: 450px;
  text-align: center;
  transition: all 1000ms;
  text-shadow: black 0px 0px 10px;
}

.content .title {
  color: white;
  font-size: 2.3rem;
  margin-top: 1rem;
}

.content .text {
  color: white;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-top: 1rem;
}

.section-margin {
  margin-top: 80px;
  margin-bottom: 50px;
}



.textColor {
  color: #E31B6D;
}

.description {
  font-size: 1.2rem;
}

.skill-logo {
  width: 100px;
  height: 150px;
}

.skill-logo-font {
  font-size: 6rem;
  color: black;
}

@media(max-width: 560px) {
  .landing-background {
    height: 60vh;
  }

  .content {
    top: 20%;
    margin-top: 5px;
    margin-left: -165px;
    width: 330px;
  }

  .content .title {
    font-size: 1.4rem;
  }

  .content .text {
    font-size: 1.1rem;
  }

  .description {
    font-size: 1rem;
  }

  .skill-logo-font {
    font-size: 5rem;
  }

  .skill-logo{
    width: 80px;
    height: 130px;
  }
}
