<section id="landing">
  <div class="landing-background"></div>
  <div class="content">
    <div class="row">
      <h1 class="title col-12 text-center">
        Greetings, I'm <span class="textColor">Jason Bugallon</span>
      </h1>
      <h2 class="text col-12 text-center">
        An Aspiring Full-Stack Developer
      </h2>
    </div>
    <a routerLink="."
       fragment="about" >
      <div class="arrow bounce"> </div>
    </a>
  </div>
</section>

<!--Introduction-->
<section id="about" class="section-margin">
  <div class="container">
    <h1 class="text-center">ABOUT</h1>
    <hr>
    <div class="row">
      <div class="col-lg-7 mb-5">
        <img
          src="assets/images/profile-pic.jpg"
          id="pro-pic"
          alt="Jason Bugallon">
        <h3 class="text-center my-4">Who Am I?</h3>
        <p class="text-center description">
          I'm currently a senior computer science student at the University
          of California, Irvine, graduating this December 2019. I have a serious passion for full-stack web development,
          I enjoy working on both the frontend and the backend and continuously improving myself to learn all
          the new technologies currently being used in the modern industry today.
          Outside of that I enjoy hobbies such as gaming, watching youtube, and anime.
          I also enjoy working out and playing Badminton. I'm actively looking for
          a full time developer position as I am graduating very soon. I am also open to internships if you
          don't believe I have enough experience to be a full time employee. I come from the bay area so I would
          prefer a job located there but I am open to working anywhere in California. I am currently not open to
          relocating outside of California.
        </p>
      </div>
      <div class="col-lg-5">
        <h3 class="text-center mb-4">Skills</h3>
        <div class="row text-center">
          <div class="col-4 skill-logo-font"><fa-icon [icon]="icons.html5"></fa-icon></div>
          <div class="col-4 skill-logo-font"><fa-icon [icon]="icons.css3"></fa-icon> </div>
          <div class="col-4 skill-logo-font"><fa-icon [icon]="icons.javascript"></fa-icon> </div>
          <div class="col-4 skill-logo-font"><fa-icon [icon]="icons.react"></fa-icon> </div>
          <div class="col-4 skill-logo-font"><fa-icon [icon]="icons.angular"></fa-icon> </div>
          <div class="col-4 skill-logo-font"><fa-icon [icon]="icons.nodejs"></fa-icon> </div>
          <div class="col-4 skill-logo-font"><fa-icon [icon]="icons.python"></fa-icon> </div>
          <div class="col-4 skill-logo-font"><fa-icon [icon]="icons.java"></fa-icon> </div>
          <div class="col-4 skill-logo-font"><fa-icon [icon]="icons.git"></fa-icon> </div>
          <div class="col-4 skill-logo-font"><img class="skill-logo" src="assets/logos/cpp-icon.svg" alt="cpp icon"> </div>
          <div class="col-4 skill-logo-font"><img class="skill-logo" src="assets/logos/mysql-icon.svg" alt="cpp icon"> </div>
          <div class="col-4 skill-logo-font"><img class="skill-logo" src="assets/logos/mongodb-icon.svg" alt="cpp icon"> </div>
        </div>
      </div>
    </div>
  </div>
</section>
