<section id="landing">
  <div class="content">
    <div class="row">
      <h1 class="title col-12 text-center">
        Greetings, I'm <span class="textColor">Jason Bugallon</span>
      </h1>
      <h2 class="text col-12 text-center">
        A full-stack developer
      </h2>
    </div>
  </div>
</section>

<!--Introduction-->
<section id="intro" class="py-5">
  <div class="container">
    <img
      src="assets/images/profile-pic.jpg"
      id="pro-pic"
      alt="Jason Bugallon">
    <h3 class="text-center my-4">About Me</h3>
    <p class="text-center description">
      I'm currently a senior computer science student at the University
      of California, Irvine, graduating this December 2019. I have a serious passion for full-stack web development,
      I enjoy working on both the frontend and the backend and continously improving myself to learn all
      the new technologies currently being used in the modern industry today.
      I am also no stranger to mobile development. Outside of that I enjoy hobbies such as
      gaming, watching youtube, and Anime. I also enjoy working out and playing Badminton. I'm actively looking for
      a full time developer position as I am graduating very soon.
    </p>
  </div>
</section>

<!--Skills-->
<section id="skills" class="py-5">
  <div class="container">
    <h3 class="text-center">Skills</h3>
    <div class="row text-center">
      <div class="col-sm-4 mb-3">
        <h4 class="text-center">Frontend</h4>
        <div class="row text-center text-sm-left">
          <div class="col-md-6"><fa-icon [icon]="icons.html5"></fa-icon> HTML5</div>
          <div class="col-md-6"><fa-icon [icon]="icons.css3"></fa-icon> CSS3</div>
          <div class="col-md-6"><fa-icon [icon]="icons.react"></fa-icon> React</div>
          <div class="col-md-6"><fa-icon [icon]="icons.angular"></fa-icon> Angular</div>
        </div>
      </div>
      <div class="col-sm-4 mb-3">
        <h4>Backend</h4>
        <div class="row text-center text-sm-left">
          <div class="col-md-6"><fa-icon [icon]="icons.javascript"></fa-icon> Node.js</div>
          <div class="col-md-6"><fa-icon [icon]="icons.java"></fa-icon> Java</div>
          <div class="col-md-6"><fa-icon [icon]="icons.python"></fa-icon> Python</div>
          <div class="col-md-6"><fa-icon [icon]="icons.database"></fa-icon> mySQL</div>
          <div class="col-md-6"><fa-icon [icon]="icons.database"></fa-icon> mongoDB</div>
        </div>
      </div>
      <div class="col-sm-4 mb-3">
        <h4>Other</h4>
        <div class="row text-center text-sm-left">
          <div class="col-md-6"><fa-icon [icon]="icons.github"></fa-icon> Git/Github</div>
          <div class="col-md-6"><fa-icon [icon]="icons.code"></fa-icon> C/C++</div>
        </div>
      </div>
    </div>
  </div>
</section>
