<section class="header">
  <div class="container">
    <h1 class="text-center my-4">Projects</h1>
    <div class="description text-center mb-4">
      Below are some projects I worked on as part of my studies here at UCI and also some fun side projects.
      Each should have a link to their respective github repos and if they are deployed, then also to the deployed
      website.
    </div>
  </div>
</section>

<section class="body text-center my-4">
  <div class="bg-1 p-4">
    <div class="container">
      <h2 class="project-heading my-3 py-3">Fabflix</h2>
      <p class="description">
        Fabflix is an IMDb-like movie full stack web application. Fabflix was my first ever complete
        web application and taught me a lot about the technologies I worked with. For the frontend, Fabflix was
        created using plain HTML, CSS, Javascript and JQuery. For the backend, Tomcat Java was used while mySQL was
        utilized as the database. An AWS Ubuntu virtual server with Apache2 was used to host the web application. I used
        techniques such as a separate Master/Slave mySQL databases on different EC2 instances and also load balancing in order
        to scale the app and to support higher load. The app has its own searching functionality and supported user authentication,
        password encryption, and user transactions. A simple android app made with React Native with a small subset of the
        features of the whole application was also created in order to test the backend with mobile.
      </p>
      <a href="https://github.com/iSDestiny/Fabflix" target="_blank" class="btn btn-outline-dark">Github</a>
    </div>
  </div>
</section>
